html
    head(title='CS602 - King')
        link(rel='stylesheet', type='text/css', href='/layout.css')
        link(rel='stylesheet', type='text/css', href='/card.css')
    body
        h1 Storefront - CS602 King
        if currentUser
            h2 Hello #{currentUser.name}
        nav
            a(href="/product")
                button Products
            if (currentUser && !currentUser.isAdmin)
                a(href="/order/cart")
                    button Cart
                a(href="/order")
                    button Orders
            if (currentUser && currentUser.isAdmin)
                a(href="/user/customer")
                    button Customers
            a(href="/user")
                button Accounts

    block content