html
    head(title='CS602 - King')
        link(rel='stylesheet', type='text/css', href='./layout.css')
    body
        h1 Storefront - CS602 King
        nav
            a(href="/product")
                button Products
            a(href="/order")
                button Orders
            a(href="/user")
                button Accounts

    block content