extends ../layout

block content

    each o in orders
        .card
            h2 Order #{o._id}
            p Customer: #{o.customerId}
            p Product: #{o.productId}
            p Quantity: #{o.quantity}