extends ../layout

block content
    if (!orders || !orders.length)
        h2 No orders
    each o in orders
        .card
            h2 Order #{o._id}
            p Product: #{o.product.name}
            p Price: #{o.product.price}
            p Quantity: #{o.quantity}
            //- theoretically the price/name could change in the future
            //- a more robust application might memorialize the name/price
            //- in the order on completion